body {
    font-family: "Noto Sans KR", sans-serif;
}

#carouselIndicators .carousel-item {
    background-size: cover;
    height: 400px;
    line-height: 400px;
    text-align: center;
}

.carousel-inner .no1 {
    background-image: url(../images/guitar.jpg);
    background-position: left center;
}

.carousel-inner .no2 {
    background-image: url(../images/makeup.jpg);
    background-position: center top;
}

.carousel-inner .no3 {
    background-image: url(../images/cooking.jpg);
    background-position: center center;
}

.items {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.items h2 {
    margin: 0;
    font-size: 32px;
    color: white;
    margin-bottom: 18px;
    font-weight: 400;
}

.items p {
    margin: 0;
    font-size: 22px;
    color: white;
    margin-bottom: 48px;
}

.items a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #5900E7;
    padding:10px 30px;
}

.container {
    margin-top: 50px;
    margin-bottom: 70px;
}

.container .info-box {
    display: block;
    border-radius: 10px;
    margin-bottom: 20px;
    /*padding: 0 15px;*/
    /*grid 기본 패딩이 좌우 15px씩이다.*/
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    text-decoration: none;
}

.container .info-box img {
    width: 100%;
}

.container .info {
    padding: 10px;
}

.container .info p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #4a4a4a;
}

.container .info img {
    /*vertical-align: middle;*/
    /*bootstrap scss파일에 설정되어 있어서 불필요한 코드*/
    width: 20px;
    height: 20px;
}
.container .info span {
    font-size: 13px;
    color: #4a4a4a;
    vertical-align: middle;
}